openapi: 3.1.0
info:
  title: Nebulock Public Entities API
  version: v2
  description: 'Public API for the Nebulock AI threat-hunting platform: Findings, Entities (actors/users/hosts), Hunts, hunt suggestions/reports, and detection Rules. Available to active Nebulock customers. Authentication uses per-organization API keys passed in the X-API-Key-ID and X-API-Key-Secret headers. Rate limit: 60 requests per minute.'
  contact:
    name: Nebulock
    url: https://docs.nebulock.io/
servers:
- url: https://api.nebulock.io
  description: Production
security:
- ApiKeyId: []
  ApiKeySecret: []
tags:
- name: Entities
  description: Actors, users, and hosts — the identity/asset correlation graph.
paths:
  /public/v1/entities/actors:
    get:
      operationId: get_actors
      summary: Retrieve a list of actors from your organization.
      tags:
      - Entities
      responses:
        '200':
          description: Successful response
        '401':
          description: Missing or invalid API key credentials
        '403':
          description: Not permitted for this organization
        '404':
          description: Resource not found
        '422':
          description: Validation error
        '429':
          description: Rate limit exceeded (60 requests per minute)
    post:
      operationId: create_actor
      summary: Create a new actor from an ActorCorrelation object.
      tags:
      - Entities
      responses:
        '200':
          description: Successful response
        '401':
          description: Missing or invalid API key credentials
        '403':
          description: Not permitted for this organization
        '404':
          description: Resource not found
        '422':
          description: Validation error
        '429':
          description: Rate limit exceeded (60 requests per minute)
  /public/v1/entities/actors/{actor_id}:
    get:
      operationId: get_actor
      summary: Get one actor by ID with linked users and hosts.
      tags:
      - Entities
      responses:
        '200':
          description: Successful response
        '401':
          description: Missing or invalid API key credentials
        '403':
          description: Not permitted for this organization
        '404':
          description: Resource not found
        '422':
          description: Validation error
        '429':
          description: Rate limit exceeded (60 requests per minute)
      parameters:
      - name: actor_id
        in: path
        required: true
        schema:
          type: string
    patch:
      operationId: update_actor_description
      summary: Update an actor's description, risk_level, tags, groups or escalation.
      tags:
      - Entities
      responses:
        '200':
          description: Successful response
        '401':
          description: Missing or invalid API key credentials
        '403':
          description: Not permitted for this organization
        '404':
          description: Resource not found
        '422':
          description: Validation error
        '429':
          description: Rate limit exceeded (60 requests per minute)
      parameters:
      - name: actor_id
        in: path
        required: true
        schema:
          type: string
  /public/v1/entities/actors/populated:
    post:
      operationId: create_populated_actors
      summary: Bulk-create actors with linked users and hosts from flat rows.
      tags:
      - Entities
      responses:
        '200':
          description: Successful response
        '401':
          description: Missing or invalid API key credentials
        '403':
          description: Not permitted for this organization
        '404':
          description: Resource not found
        '422':
          description: Validation error
        '429':
          description: Rate limit exceeded (60 requests per minute)
  /public/v1/entities/actors/{actor_id}/update_search_index:
    patch:
      operationId: update_actor_search
      summary: Refresh an actor's keyword search index.
      tags:
      - Entities
      responses:
        '200':
          description: Successful response
        '401':
          description: Missing or invalid API key credentials
        '403':
          description: Not permitted for this organization
        '404':
          description: Resource not found
        '422':
          description: Validation error
        '429':
          description: Rate limit exceeded (60 requests per minute)
      parameters:
      - name: actor_id
        in: path
        required: true
        schema:
          type: string
  /public/v1/entities/actors/{actor_id}/users/{user_id}:
    post:
      operationId: associate_user_with_actor
      summary: Link an existing user to an actor.
      tags:
      - Entities
      responses:
        '200':
          description: Successful response
        '401':
          description: Missing or invalid API key credentials
        '403':
          description: Not permitted for this organization
        '404':
          description: Resource not found
        '422':
          description: Validation error
        '429':
          description: Rate limit exceeded (60 requests per minute)
      parameters:
      - name: actor_id
        in: path
        required: true
        schema:
          type: string
      - name: user_id
        in: path
        required: true
        schema:
          type: string
    patch:
      operationId: update_actor_user_api
      summary: Update a user linked to an actor.
      tags:
      - Entities
      responses:
        '200':
          description: Successful response
        '401':
          description: Missing or invalid API key credentials
        '403':
          description: Not permitted for this organization
        '404':
          description: Resource not found
        '422':
          description: Validation error
        '429':
          description: Rate limit exceeded (60 requests per minute)
      parameters:
      - name: actor_id
        in: path
        required: true
        schema:
          type: string
      - name: user_id
        in: path
        required: true
        schema:
          type: string
    delete:
      operationId: unlink_user_from_actor
      summary: Remove a user from an actor (user record is retained).
      tags:
      - Entities
      responses:
        '200':
          description: Successful response
        '401':
          description: Missing or invalid API key credentials
        '403':
          description: Not permitted for this organization
        '404':
          description: Resource not found
        '422':
          description: Validation error
        '429':
          description: Rate limit exceeded (60 requests per minute)
      parameters:
      - name: actor_id
        in: path
        required: true
        schema:
          type: string
      - name: user_id
        in: path
        required: true
        schema:
          type: string
  /public/v1/entities/actors/{actor_id}/hosts/{host_id}:
    delete:
      operationId: unlink_host_from_actor
      summary: Remove a host from an actor (host record is retained).
      tags:
      - Entities
      responses:
        '200':
          description: Successful response
        '401':
          description: Missing or invalid API key credentials
        '403':
          description: Not permitted for this organization
        '404':
          description: Resource not found
        '422':
          description: Validation error
        '429':
          description: Rate limit exceeded (60 requests per minute)
      parameters:
      - name: actor_id
        in: path
        required: true
        schema:
          type: string
      - name: host_id
        in: path
        required: true
        schema:
          type: string
    post:
      operationId: associate_host_with_actor
      summary: Link an existing host to an actor.
      tags:
      - Entities
      responses:
        '200':
          description: Successful response
        '401':
          description: Missing or invalid API key credentials
        '403':
          description: Not permitted for this organization
        '404':
          description: Resource not found
        '422':
          description: Validation error
        '429':
          description: Rate limit exceeded (60 requests per minute)
      parameters:
      - name: actor_id
        in: path
        required: true
        schema:
          type: string
      - name: host_id
        in: path
        required: true
        schema:
          type: string
    patch:
      operationId: update_actor_host_api
      summary: Update a host linked to an actor.
      tags:
      - Entities
      responses:
        '200':
          description: Successful response
        '401':
          description: Missing or invalid API key credentials
        '403':
          description: Not permitted for this organization
        '404':
          description: Resource not found
        '422':
          description: Validation error
        '429':
          description: Rate limit exceeded (60 requests per minute)
      parameters:
      - name: actor_id
        in: path
        required: true
        schema:
          type: string
      - name: host_id
        in: path
        required: true
        schema:
          type: string
  /public/v1/entities/actors/{actor_id}/new_host:
    post:
      operationId: create_host_for_actor_api
      summary: Create a host and link it to an actor.
      tags:
      - Entities
      responses:
        '200':
          description: Successful response
        '401':
          description: Missing or invalid API key credentials
        '403':
          description: Not permitted for this organization
        '404':
          description: Resource not found
        '422':
          description: Validation error
        '429':
          description: Rate limit exceeded (60 requests per minute)
      parameters:
      - name: actor_id
        in: path
        required: true
        schema:
          type: string
  /public/v1/entities/actors/{actor_id}/new_user:
    post:
      operationId: create_user_for_actor_api
      summary: Create a user and link it to an actor.
      tags:
      - Entities
      responses:
        '200':
          description: Successful response
        '401':
          description: Missing or invalid API key credentials
        '403':
          description: Not permitted for this organization
        '404':
          description: Resource not found
        '422':
          description: Validation error
        '429':
          description: Rate limit exceeded (60 requests per minute)
      parameters:
      - name: actor_id
        in: path
        required: true
        schema:
          type: string
  /public/v1/entities/hosts/{host_id}:
    patch:
      operationId: update_host_record
      summary: Update a host by ID.
      tags:
      - Entities
      responses:
        '200':
          description: Successful response
        '401':
          description: Missing or invalid API key credentials
        '403':
          description: Not permitted for this organization
        '404':
          description: Resource not found
        '422':
          description: Validation error
        '429':
          description: Rate limit exceeded (60 requests per minute)
      parameters:
      - name: host_id
        in: path
        required: true
        schema:
          type: string
  /public/v1/entities/users:
    get:
      operationId: get_users
      summary: List identity users for your organization.
      tags:
      - Entities
      responses:
        '200':
          description: Successful response
        '401':
          description: Missing or invalid API key credentials
        '403':
          description: Not permitted for this organization
        '404':
          description: Resource not found
        '422':
          description: Validation error
        '429':
          description: Rate limit exceeded (60 requests per minute)
    post:
      operationId: create_users
      summary: Create one or more users (JSON array, up to 1000).
      tags:
      - Entities
      responses:
        '200':
          description: Successful response
        '401':
          description: Missing or invalid API key credentials
        '403':
          description: Not permitted for this organization
        '404':
          description: Resource not found
        '422':
          description: Validation error
        '429':
          description: Rate limit exceeded (60 requests per minute)
  /public/v1/entities/users/{user_id}:
    patch:
      operationId: update_user
      summary: Update a user by ID.
      tags:
      - Entities
      responses:
        '200':
          description: Successful response
        '401':
          description: Missing or invalid API key credentials
        '403':
          description: Not permitted for this organization
        '404':
          description: Resource not found
        '422':
          description: Validation error
        '429':
          description: Rate limit exceeded (60 requests per minute)
      parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: string
  /public/v1/entities/hosts:
    get:
      operationId: get_hosts
      summary: List hosts (endpoints or machines) for your organization.
      tags:
      - Entities
      responses:
        '200':
          description: Successful response
        '401':
          description: Missing or invalid API key credentials
        '403':
          description: Not permitted for this organization
        '404':
          description: Resource not found
        '422':
          description: Validation error
        '429':
          description: Rate limit exceeded (60 requests per minute)
    post:
      operationId: create_hosts
      summary: Create one or more hosts (JSON array, up to 1000).
      tags:
      - Entities
      responses:
        '200':
          description: Successful response
        '401':
          description: Missing or invalid API key credentials
        '403':
          description: Not permitted for this organization
        '404':
          description: Resource not found
        '422':
          description: Validation error
        '429':
          description: Rate limit exceeded (60 requests per minute)
components:
  securitySchemes:
    ApiKeyId:
      type: apiKey
      in: header
      name: X-API-Key-ID
    ApiKeySecret:
      type: apiKey
      in: header
      name: X-API-Key-Secret
